table tr td {
  border: 1px solid black;
}
.row-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}
label{
  margin:10px;
}
select[id="types"]{
  margin: 10px;
}
input[placeholder="Search APT"]{
  padding-left: 10px;
  margin-top: 10px;

  height: 25px;
}
button{
  margin: 10px;
  background-color: #8ad49d;
  border-radius: 5px;
}
a {
  color:blue;
}
.type_header{
  background-color: grey;
}
.type_header td{
 padding-left: 10px;
 padding-right:10px;
}
.topbar{
  text-align: center;
}
.data{
  padding-left: 8px;
}
